{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{{ block.super }}

<div class="container-fluid home-content">
    <h5 style="color:#ffffff">Site of the day {{ date|date:'F-d-Y' }}</h5>
    <section class="sect">
        <div>
            <div class="box-piesite">
                <ul>
                    <li class="design">
                        <div class="piesite" id="pie_0" data-pie="2.04"></div>
                        <br>
                        <p style="color:white;font-size: 12px;">DESIGN</p>
                    </li>
                    <li class="usability">
                        <div class="piesite" id="pie_2" data-pie="5.02"></div>
                        <br>
                        <p style="color:white;font-size: 12px;">USABILITY</p>
                    </li>

                    <li class="creativity">
                        <div class="piesite" id="pie_1" data-pie="2.04"></div>
                        <br>
                        <p style="color:white;font-size: 12px;">CREATIVITY</p>
                    </li>
                    <li class="total">
                        <div class="piesite" id="pie_3" data-pie="6.43"></div>
                        <br>
                        <p style="color:white;font-size: 12px;">TOTAL</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <a href="#" class="myButton">Visit Site</a>
    <a href="#" class="myButton1">Interact</a>
    <a href="#" class="myButton1">Collect</a>
</div>

<div class="card-deck col-md-4">
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>
</body>
{% endblock %}